<section class="newsbar is-medium is-light">
  <div class="has-text-centered">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <p class="is-size-5 is-size-6-mobile">
            This book presents the SPIFFE standard for service identity, and SPIRE, the reference implementation for
            SPIFFE.
          </p>
          <br />
          <a class="button is-white" href="book/">
            <span class="icon">
              <i class="fas fa-book"></i>
            </span>
            <span>
              Get the SPIFFE Book
            </span>
          </a>
        </div>
        <div class="column">
          <img src="../img/book_cover.png" width="400" />
        </div>
      </div>
    </div>
</section>